//- ToDo: solve navigation bugs
	- navigating to index.html fails when I click it from a case study page



.nav-button-holder
	.nav-button.vis-m
		span
		span
		span
.show-share.isShare Share
.nav-holder
	nav
		ul
			li
				a(href="/index.html") Featured Projects
				ul
					//- to display payload content in terminal
					//- for post in contentful.featuredProjects
							console.log(JSON.stringify(post,4))

					- for project in contentful.featuredProjects
						//- if (project.sys.contentType.sys.id === "featuredProject")
						li: a(href= project._url)= project.clientName
			li
				a(href="#") Selected Works
				ul
					//- to display payload content in terminal
					//- for post in contentful.selectedWork
							console.log(JSON.stringify(post,4))

					- for project in contentful.selectedWorks
						//- if (project.sys.contentType.sys.id === "selectedWork")
						li: a(href= project._url)= project.clientName
			li
				a(href="shopify.html") Shopify
			li
				a(href="workspace.html") Workspace Williamsburg
			li
				a(href="about.html") About us 
			li
				a(href="services.html") Services 
			li
				a(href="contact.html") Contact









