// VG.com theme
@import './reset.css'
@import './plugins.css'
@import './style.css'

// Modal theme
// ToDo: migrate google font import link from modal.jade here

	


/*
*
*	adjustments
*
**/


	
.fixed-info-container > p > a { color:blue;}