#popup-modal * {border:none;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;text-decoration:none;margin:0;padding:0;}

#popup-modal *{margin:0;padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

#popup-modal ul { list-style: none;}

#popup-modal :focus { outline: 0;}

#popup-modal img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
#popup-modal a{text-decoration:none; position:relative; color:#000;}

 